# 基础配置
FLASK_DEBUG=False
PORT=5000
TIMEZONE=Asia/Shanghai

# 默认通知Token
NOTIFICATION_TOKEN=XZ77c1d923959433459ec3a08556a6a5b6

# MySQL数据库配置
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=zhunshi_user
MYSQL_PASSWORD=zhunshi_password
MYSQL_DATABASE=zhunshi_prod
SQLALCHEMY_ECHO=False 